.action-block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background-color: rgba(37, 27, 37, 1);
    border: 1px solid rgba(229, 229, 229, 0.2);
    border-radius: 8px;
    /* min-width: 240px; */
    /* min-height: 126px; */
}

.action-block-wrapper.selected {
    border-color: rgba(255, 190, 92, 1);
}

.action-block-terminal {
    padding: 10px 12px;
    background-color: rgba(22, 13, 27, 0.85);
}

.action-block-terminal .action-block-name {
    text-transform: uppercase;
}

.action-block-anchor {
    position: absolute;
}

.action-block-name {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}